<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

<servlet>
  <servlet-name>ProductCatalog</servlet-name>
  <servlet-class>ProductCatalog</servlet-class>
</servlet>



<servlet>
  <servlet-name>WorkerClientReports</servlet-name>
  <servlet-class>WorkerClientReports</servlet-class>
</servlet>


<servlet>
  <servlet-name>WorkerSuppliers</servlet-name>
  <servlet-class>WorkerSuppliers</servlet-class>
</servlet>

<servlet>
  <servlet-name>ClientMyAccount</servlet-name>
  <servlet-class>ClientMyAccount</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>ProductCatalog</servlet-name>
  <url-pattern>/ProductCatalog</url-pattern>
</servlet-mapping>
 
  
<servlet-mapping>
  <servlet-name>WorkerClientReports</servlet-name>
  <url-pattern>/WorkerClientReports</url-pattern>
</servlet-mapping>    
  

  
<servlet-mapping>
  <servlet-name>WorkerSuppliers</servlet-name>
  <url-pattern>/WorkerSuppliers</url-pattern>
</servlet-mapping>  

<servlet-mapping>
  <servlet-name>ClientMyAccount</servlet-name>
  <url-pattern>/ClientMyAccount</url-pattern>
</servlet-mapping>  
</web-app>
